.body{
	margin: 0;
}
.navbar-default{
	margin-bottom: 0;
	border: none;
}
.navbar__inner{
	background-color: white;
	height: 12vh;
}
.navbar-default .navbar-nav li a{
	color: #15064A;
}
.navbar__logo{
	width: 50px;
	margin-left: 10vw;
	margin-bottom: 20vh;
}
.navbar__inner_item li{
	padding-top: 2.2vh;
	padding-right: 5vw;
	font-size: 1.7rem;
	font-family: "Roboto", sans-serif;
}
.header{
	margin-top: 12vh;
	text-align: center;
	background-image: url(../img/portada.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: "Roboto", sans-serif;
	padding-top: 2vh;
	color: #15064A;
}
.header h1{
	padding-top: 0;
	font-size: 5rem;
}
.header p{
	font-size: 1.5rem;
	padding-top: 22%;
}
.features__icons{
	border: solid 6px #15064A;
	border-radius: 6%;
	padding: 0;
	overflow: hidden;
	text-align: center;
	margin-top: 50px;
	height: 380px;
	margin-bottom: 70px;
	background-size: cover;
	font-family: "Roboto", sans-serif;
}
.features__icons .boton_home{
	background-color:#15064A;
	color: white;
	font-family: "Roboto", sans-serif;
}
.features__icons p{
	text-align: center;
	padding-top: 35px;
}
.features__icons p span{
	color: #15064A;
	font-size: 600%;
}
.footer{
	background-color: #15064A;
	color: white;
	margin-bottom: 0;
}
.footer .row{
	margin-right: 0;
}
.footer__inner_contacto{
	margin-top: 25px;
}
.footer__inner_contacto h4{
	font-family: "Roboto", sans-serif;
	font-size: 1.7rem;
}
.footer__inner_contacto p{
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	margin-bottom: 0;
}
.footer__inner_contacto a{
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	color: white;
}
.footer__inner_mapa{
	margin-top: 40px;
}
.nosotros__features__title{
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 2.3vh;
	padding-bottom: 20px;
}
.nosotros__features__inner{
	text-align: center;
	background-color: #CCCCCC;
	margin-bottom: 0;
} 
.nosotros__features__inner .row{
	margin-right: 0;
} 
.nosotros__features__inner p{
	font-size: 1.5rem;
	font-family: "Roboto", sans-serif;	
} 

.nosotros-features__icons span{
	font-size: 300%;
	margin-bottom: 20px;
}
.nosotros-features__inner-box{
	padding: 20px;
}
.nosotros__main__title{
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 2.3vh;
	margin-top: 30px;
	padding-bottom: 20px;
}
.nosotros-main{
	background-color: #CCCCCC;
}
.nosotros-main .row{
	margin-right: 0;
}
.nosotros-main__inner{
	border: solid 6px #15064A;
	border-radius: 6%;
	padding: 0;
	overflow: hidden;
	text-align: center;
	margin-top: 50px;
	height: 450px;
	margin-bottom: 70px;
	background-size: cover;
	font-family: "Roboto", sans-serif;
}
.nosotros-main__inner p{
	font-size: 1.1rem;
	padding-top: 1vw;
}
.nosotros-main__inner-img1{
	width: 100%;
	height: 200px;
	background-image: url(../img/esqui.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nosotros-main__inner-img2{
	width: 100%;
	height: 200px;
	background-image: url(../img/torneo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.nosotros__features__title2{
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 2.3vh;
	margin-top: 30px;
	padding-bottom: 20px;
}
.nosotros-features__inner-box h6{
	font-size: 1.1rem;
	font-family: "Roboto", sans-serif;
}
.noticias-left{
	margin-top: 12vh;
	font-family: "Roboto", sans-serif;
	text-align: justify;
}
.noticias-left img{
	margin-bottom: 7vh;
	width: 100%;
	text-align: center;
}
.noticias-row{
	margin-right: 0;
}
.noticias-left__inner1{
	margin-bottom: 40px;
}
.noticias-left__inner2 img{
	margin-bottom: 20px;
}
.noticias-left__inner3 h2{
	margin-bottom: 20px;
}
.noticias-left__inner3{
	margin-bottom: 40px;
}
.noticias-right{
	margin-top: 14vh;
	font-family: "Roboto", sans-serif;
	text-align: left;
}
.noticias-right h4{
	margin-bottom: 0;
}
.noticias-right__form{
	margin-top: 20px;
}
.noticias-right__button{
	margin-top: 20px;
}
.noticias-right__inner img{
	margin: 20px 0 20px 0;
}
.noticias-right__inner ul{
	padding-left: 20px;
}
