.navbar-default{
	margin-bottom: 0;
	border: none;
}
.navbar__inner{
	background-color: white;
	height: 12vh;
}
.navbar-default .navbar-nav li a{
	color: #15064A;
}
.navbar__logo{
	width: 50px;
	margin-left: 10vw;
	margin-bottom: 20vh;
}
.navbar__inner_item{
	margin-top: 14px;
	padding-right: 5vw;
	font-size: 1.7rem;
	font-family: "Roboto", sans-serif;
}
.header{
	margin-top: 12vh;
	text-align: center;
	background-image: url(../img/portada.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height: 70vh;
	font-family: "Roboto", sans-serif;
	padding-top: 15px;
	color: #15064A;
}
.header h1{
	padding-top: 10px;
	font-size: 5rem;
}
.header p{
	font-size: 1.5rem;
}
.thumbnail{
	border: solid 6px #15064A;
	border-radius: 6%;
	padding: 0;
	overflow: hidden;
	text-align: center;
	height: 350px;
	margin-top: 50px;
	margin-bottom: 70px;
	background-size: cover;
}
.thumbnail img{
	height: 160px;
}
.footer{
	background-color: #15064A;
	color: white;
	margin-bottom: 0;
}
.footer__inner_contacto{
	margin-top: 25px;
}
.footer__inner_contacto h4{
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
}
.footer__inner_contacto p{
	font-family: "Roboto", sans-serif;
	font-size: 1.8rem;
	margin-bottom: 0;
}
.footer__inner_contacto a{
	font-family: "Roboto", sans-serif;
	font-size: 1.8rem;
	color: white;
}
.footer__inner_mapa{
	margin-top: 40px;
}
